.logo {
  display: block;
  width: 200px;
}

.cardcode {
  bottom: auto; top: 1.25em; right: 1.25em;
  width: 24px; height: 24px;
  color: #fff;
  letter-spacing: -1px;
  background: #000;
  border-radius: 50%;
}


.divider > div {
  position: relative;
  top: -2px;
  width: 24px; height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ddd;
  border-radius: 50%;
  pointer-events: none;
}

.divider svg {
  display: block;
  margin-top: 2px;
  width: 12px;
  height: 12px;
  fill: #666;
}

.data li {
  padding: 8px;
  margin-bottom: 4px;
  font-size: 0.81rem;
  color: #333;
  background-color: #ddd;
  border-radius: 6px;
}

.data strong {
  font-weight: 500;
  color: #000;
}