<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MCP Character Stats Viewer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">[v-cloak] { display: none; }</style>
  <link rel="stylesheet" type="text/css" href="/app/style.min.css">
  <link rel="stylesheet" type="text/css" href="/app/viewer.min.css">
</head>
<body>
<div id="app">
  <div class="splash" v-if="splash">
    <img src="/app/img/logo-mcp.png" alt="" class="logo" /><br />

    <p class="loading" v-if="loading">Loading Character DB...</p>

    <select v-model="selCharacter" @change="getData(selCharacter)" v-if="!loading">
      <option>Select character...</option>
      <option v-for="(item, name) in characterList" :value="name">{{ item }}</option>
    </select>
  </div>
  <div class="help" v-if="showHelp" v-cloak>
    <a href="#" @click.prevent="closeHelp" class="close">&times;</a>
    <div class="help-content" v-html="helpContent"></div>
  </div>
  <div class="card" v-cloak>
    <div class="top">
      <h1 class="character">
        {{ name }}
        <span class="alias-name">{{ alias }}</span>
        <span class="alias-name" style="color: #a00;" v-if="injured">(Injured)</span>
      </h1>
      <div>
        <div class="character-stats">
          <div class="stat-block" v-for="(stat, name) in stats">
            <svg class="icon"><use :xlink:href="'#' + name" :alt="name" /></svg>
            {{ stat }}
          </div>
        </div>
        <div  class="character-def">
          <div class="stat-block" v-for="(def, name) in defense">
            <svg class="icon"><use :xlink:href="'#' + name" :alt="name" /></svg>
            {{ def }}
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="entry attack" v-for="(attack, name, index) in attacks">
        <div class="stats">
          <div class="stat-block power-name">
            <svg class="icon"><use :xlink:href="'#' + attack.icon" :alt="attack.icon" /></svg>
            {{ attack.power }}
          </div>
          <div class="power-stats">
            <div class="stat-block">
              <svg class="icon"><use xlink:href="#range"></svg>
              {{ attack.range }}
            </div>
            <div class="stat-block">
              <svg class="icon"><use xlink:href="#strength"></svg>
              {{ attack.strength }}
            </div>
            <div class="stat-block">
              <svg class="icon"><use xlink:href="#power"></svg>
              {{ attack.cost }}
            </div>
          </div>
        </div>
        <ul class="descriptions">
          <li v-for="desc in attack.description" v-html="formatText(desc)"></li>
        </ul>
      </div>
    </div>
    <div>
      <div class="entry super" v-for="(item, name) in superpowers">
        <div class="stats">
          <div class="stat-block power-name" v-if="item.power">
            <svg class="icon"><use :xlink:href="'#' + item.icon" :alt="item.icon" /></svg>
            {{ item.power }}
          </div>
          <div class="power-stats">
            <div class="stat-block" v-if="item.cost">
              <svg class="icon"><use xlink:href="#power"></svg>
              {{ item.cost }}
            </div>
          </div>
        </div>
        <ul class="descriptions" v-if="item.description">
          <li v-for="desc in item.description" v-html="formatText(desc)"></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nav buttons">
    <!-- <button @click.prevent="" :disabled="disableButton" class="mainbtn">&lt;</button> -->
    <button @click.prevent="launchMenu">Menu</button>
    <button @click.prevent="launchHelp">?</button>
    <button class="mainbtn" @click.prevent="flipCard('injured')" v-if="injured">Normal</button>
    <button class="mainbtn" @click.prevent="flipCard()" v-if="!injured">Injured</button>
    <!-- <button @click.prevent="" :disabled="disableButton" class="mainbtn">&gt;</button> -->
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/markdown-it@10.0.0/dist/markdown-it.min.js"></script>
<script src="/app/viewer.min.js"></script>
</body>
</html>